a.butt {
    position: absolute;
    left: 230px;
  font: caption;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
  padding: 11px 6px;
  background: #dbdee0;
  display: block;
  width: 100px;
  margin: 10px auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2),
    inset 0 1px 2px rgba(255, 255, 255, 0.7);
}

a.butt:hover,
a.butt.hover {
  background: rgb(224, 224, 224);
}
a.butt:active,
a.butt.active {
  background: #d0d3d6;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2),
    inset 0 2px 5px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.2);
}

.custom-dropdown {
  position: relative;
  top: 57px;
  left: 50px;
  display: inline-block;
  vertical-align: middle;
  margin: 9px; /* demo only */
  width: 140px;
}

.custom-dropdown select {
  cursor: pointer;
  background-color: #82a7d8;
  color: rgb(231, 231, 231);
  font-size: inherit;
  padding: 0.7em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 5px;
  text-indent: 0.01px;
  text-overflow: "";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 140px;
  text-align: center;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after {
  /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: 0.925em;
  line-height: 1;
  right: 0.7em;
  top: 50%;
  margin-top: -0.5em;
}

.custom-dropdown::before {
  /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0, 0, 0, 0.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0, 0, 0, 0.1);
}

.custom-dropdown::before {
  background-color: rgba(110, 100, 100, 0.15);
}

.custom-dropdown::after {
  color: rgba(35, 36, 39, 0.4);
}

#info {
  position: relative;
  top: 65px;
  left: 60px;
  font-size: 18px;
  color: rgb(240, 130, 27);
}

.tb{
  position: relative;
  top: 80px;
  left: 60px;
  width: 25%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
}
.tb th {
  font-weight: bold;
  padding: 5px;
  background-color: #45ecf8;
  border: 1px solid #dddddd;
  text-align: center;
}
.tb td {
  border: 1px solid #dddddd;
  padding: 5px;
  text-align: center;
}